.asset-details {
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .asset-details h2,
  .asset-details h3 {
    text-align: center;
  }
  
  .asset-details ul {
    list-style-type: none;
    padding: 0;
  }
  
  .asset-details li {
    background: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
  }
  